{% load static %}
<DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block style %}{% endblock %}
    </head>
    <body>
        <h1>Med Simulation!</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'guide' %}">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mySim' %}">My Simulations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'browse' %}">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'current' %}">Current</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'completed' %}">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}{% endblock %}
    </body>
</html>
